<form class="w-full">
  <div class="mb-6">
    <h1
      class="text-2xl font-extrabold text-gray-700 dark:text-white text-center mb-5"
    >
      Create appointment
    </h1>
    <div
      class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert"
      *ngIf="validateForm"
    >
      <svg
        aria-hidden="true"
        class="flex-shrink-0 inline w-5 h-5 mr-3"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <div class="text-center">
        <span class="font-medium text-center">Alert!</span> All fields are
        required.
      </div>
    </div>
    <label
      for="name"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Name</label
    >
    <input
      type="text"
      id="name"
      name="name"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Enter name"
      [(ngModel)]="name"
    />
  </div>
  <div class="mb-6">
    <label
      for="date"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Date</label
    >
    <input
      type="date"
      id="date"
      name="date"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      [(ngModel)]="date"
    />
  </div>
  <div class="mb-6">
    <label
      for="time"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Time</label
    >
    <input
      type="time"
      id="time"
      name="time"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      [(ngModel)]="time"
    />
  </div>
  <div class="mb-6">
    <label
      for="symptoms"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Symptoms</label
    >
    <textarea
      name="symptoms"
      id="symptoms"
      cols="30"
      rows="5"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      [(ngModel)]="symptoms"
    ></textarea>
  </div>

  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    (click)="createDate()"
  >
    Create appointment
  </button>
</form>
